In [1]:
#Disable warnings
import warnings
warnings.filterwarnings("ignore")

#Libraries for processing data
import pandas as pd
import numpy as np

#Import libraries for graphing
import matplotlib.pyplot as plt
import seaborn as sns

#Libraries for obtaining data from SQL databse
import env
import os

#
from acquire import wrangle_zillow
from prep import clean_data
from prep import get_tax_rate

In [2]:
zillow = wrangle_zillow()

In [3]:
zillow.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,3.0,2.0,1125.0,289445.0,1974.0,3490.16,6059.0
1,3.0,2.0,1316.0,205123.0,1923.0,2627.48,6037.0
2,3.0,2.0,1458.0,136104.0,1970.0,2319.90,6037.0
3,3.0,2.0,1766.0,810694.0,1980.0,9407.01,6037.0
4,2.0,1.0,1421.0,35606.0,1911.0,543.69,6037.0

In [4]:
train, validate, test = clean_data(zillow)

In [5]:
train.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,calculatedfinishedsquarefeet_scaled,bedroomcnt_scaled,bathroomcnt_scaled
8266,4.0,2.0,1919.0,286663.0,2009.0,5219.87,6037.0,0.374276,0.444444,0.363636
18949,2.0,2.5,1258.0,64609.0,1978.0,803.16,6111.0,0.226928,0.222222,0.454545
22247,4.0,3.0,1657.0,210212.0,1987.0,3411.70,6037.0,0.315872,0.444444,0.545455
7526,2.0,3.0,1684.0,237037.0,1992.0,2984.05,6037.0,0.321890,0.222222,0.545455
17592,4.0,4.5,3932.0,1094525.0,2000.0,13409.66,6111.0,0.823005,0.444444,0.818182

In [8]:
dictionary = {
    'Feature' : [
                'bedroomcnt',
                'bathroomcnt',
                'calculatedfinishedsquarefeet',
                'taxvaluedollarnct',
                'yearbuilt',
                'taxamount',
                'fips',
                'calculatedfinishedsquarefeet_scaled',
                'bedroomcnt_scaled',
                'bathroomcnt_scaled',
                ],
    'Dataype' : [
                
                zillow.dtypes['bedroomcnt'],
                zillow.dtypes['bathroomcnt'],
                zillow.dtypes['calculatedfinishedsquarefeet'],
                zillow.dtypes['taxvaluedollarcnt'],
                zillow.dtypes['yearbuilt'],
                zillow.dtypes['taxamount'],
                zillow.dtypes['fips'],
                train.dtypes['calculatedfinishedsquarefeet_scaled'],
                train.dtypes['bedroomcnt_scaled'],
                train.dtypes['bathroomcnt_scaled'],
                
                ],
    'Definition' : [
                    'Total number of bedrooms in the property',
                    'Total number of bathrooms in the property',
                    'Calculated square feet of the property',
                    'Assessed dollar value of the property',
                    'Year the property was originally built',
                    'Total amount of properties taxes per year in dollars',
                    'FIPS code, indicating the county the property is located in',
                    'Square feet, scaled so that all values are between 0 and 1',
                    'Bedroom count, scaled so that all values are between 0 and 1',
                    'Bathroom count, scaled so that all values are betwween 0 and 1',
                    ],
}

In [9]:
data_dictionary = pd.DataFrame(dictionary)

In [10]:
print(data_dictionary.to_markdown(index=False))

| Feature                             | Dataype   | Definition                                                     |
|:------------------------------------|:----------|:---------------------------------------------------------------|
| bedroomcnt                          | float64   | Total number of bedrooms in the property                       |
| bathroomcnt                         | float64   | Total number of bathrooms in the property                      |
| calculatedfinishedsquarefeet        | float64   | Calculated square feet of the property                         |
| taxvaluedollarnct                   | float64   | Assessed dollar value of the property                          |
| yearbuilt                           | float64   | Year the property was originally built                         |
| taxamount                           | float64   | Total amount of properties taxes per year in dollars           |
| fips                                | float64   | FIPS code, indicating the county the property is located in    |
| calculatedfinishedsquarefeet_scaled | float64   | Square feet, scaled so that all values are between 0 and 1     |
| bedroomcnt_scaled                   | float64   | Bedroom count, scaled so that all values are between 0 and 1   |
| bathroomcnt_scaled                  | float64   | Bathroom count, scaled so that all values are betwween 0 and 1 |

In [3]:
tax_rate_df = get_tax_rate()

In [4]:
print(tax_rate_df.to_markdown(index=False))

| Feature   | Datatype   | Definition                                     |
|:----------|:-----------|:-----------------------------------------------|
| tax_rate  | float64    | tax amount divided by the tax value of a home. |